<section id="cars">
    <h1>Bilar</h1>

    <table id="cartable" class="table table-striped sortable selectable responsive-table-text">
        <thead>
            <tr>    
                <th data-value="name" data-type="text">Bilnamn</th>
                <th data-value="model" data-type="text">Storlek</th>
                <th data-value="pricePerDay" data-type="number">Pris/dag</th>
            </tr>
        </thead>
        <tbody>
            <!-- Tabell data laddas dynamiskt -->
        </tbody>
    </table>

    <div class="text-end">
        <button id="orderCarOpenModalBtn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#orderCarModal">Beställ bil</button>
    </div>

    <!-- Beställ bil Modal -->
    <div class="modal fade" id="orderCarModal" tabindex="-1" aria-labelledby="orderCarModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            
        </div>
    </div>
    
</section>