<div class="modal-content">      
    <div class="modal-header">
        <h5 class="modal-title" id="orderCarModalLabel">Beställ Bil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form class="needs-validation">
            <div class="form-group">
                <div data-objectid="" class="selectedForm">
                </div>                          
            </div>
            
            <div class="form-group">
                <label for="startDate">Startdatum:</label>
                <input id="startDateInput" class="form-control" type="date">
                <div class="invalid-feedback">Måste vara idag eller ett senare datum.</div>
            </div>
            
            <div class="form-group">
                <label for="startDate">Stoppdatum:</label>
                <input id="stopDateInput" class="form-control" type="date">
                <div class="invalid-feedback">Måste vara ett datum senare än startdatum.</div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
        <button type="button" class="btn btn-primary" id="orderCarSubmitBtn">Beställ</button>
    </div>
</div>