<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="updateOrderModalLabel">Uppdatera Order</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form id="updateOrderForm">
            <div class="form-group">
                <label>Bil: </label>
                <select id="carSelect" class="form-select form-select-sm" aria-label=".form-select-sm example">
                </select>    
            </div>
              
            <div class="form-group">
                <label>Startdatum: </label>
                <input id="startDateInput" class="form-control" type="date">
                <div class="invalid-feedback">Måste vara idag eller ett senare datum.</div>
            </div>

            <div class="form-group">
                <label>Stoppdatum: </label>
                <input id="stopDateInput" class="form-control" type="date">
                <div class="invalid-feedback">Måste vara ett datum senare än startdatum.</div>
            </div>
            
            
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
        <button type="button" class="btn btn-primary" id="updateOrderSubmitBtn" >Spara</button>
    </div>
</div>